@charset "utf-8";

h1,h2 {color:#A4A400;
        background-color:  #F0F0F0;
        font-family:' Century Gothic',Futura,Vardana,sans-serif;
        font-size: 22pt;
        text-decoration:underline;
        letter-spacing: 0.2em;
        font-weight:bold;}
    
    h1 {text-align:center;}

    h2 {font-size: 18pt;
        text-align:left;}

    p1,ul,p2,p3,p4 {color: #404040;
        font-size: 11pt;
        font-family: Georgia,Garamond,serif;}

    blockquote {font-style:italic;
    background-color: #FFFFC8}

    a {color:#A4A400;}

    body {
        background-repeat:repeat-x,repeat-y;
        background-attachment:fixed;}